<!-- <h1>V BELOW IS THE FOOTER! V</h1> -->
<footer id="footer" class="sixteen columns" data-hook >
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%= link_to 'Switch Thomas', 'http://linkedin.com/in/switchthomas/' %> <%= :™  %> </p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
<!-- <h1>^ ABOVE IS THE FOOTER! ^</h1> -->